




h1 {
color: black;
font-size: 40PX;
position: relative;
top: ;
bottom:400px ;
right: ;
left:px ;
}

h2 {
    color:white;
    font-size: 25px;
    background: black;
    width:1400; height:80;
    position: relative;
    top: ;
    bottom:px ;
    right: ;
    left: ;
    text-decoration: none;
}
H3 {
    color:white;
    font-size: 25px;
    position: relative;
    top: ;
    bottom:105px ;
    right: ;
    left: 230px;
    text-decoration: none;
}
H4 {
color: white;
font-size: 25px;
position: relative;
top: ;
bottom:165px ;
right: ;
left:450px ;

}

h5 {

    color: white;
    font-size: 25px;
    position: relative;
    top: ;
    bottom:235px ;
    right: ;
    left:655px ;

}
H7 {

    color: white;
    font-size: 25px;
    position: relative;
    top: ;
    bottom:305px ;
    right: ;
    left:840px ;

}

h6  {

    color: white;
    font-size: 25px;
    position: relative;
    top: ;
    bottom:390px ;
    right: ;
    left:1005px ;


}

i {
    color:black;
        font-size: 25px;
        position: relative;
        top: ;
        bottom:405px ;
        right: ;
        left:1px ;
    }

    h8 {
        color:black;
            font-size: 25px;
            position: relative;
            top: ;
            bottom:405px ;
            right: ;
            left:100px ;
        }
        
        

